:root {
  --chineseViolet: #71677D;
  --eggplant: #4A3642;
  --beige: #DADFC5;
  --dimGray: #67675F;
  --olivine: #92B384;
  --light: #e3e4dd;
  --Dark: #292028; 
  --Header: 'Josefin Slab'; /*Georgia, 'Times New Roman', Times, serif;*/
  --text: 'Maven Pro'; /*Arial, Helvetica, sans-serif;*/
}

.profile-image {
  background-image: url('../../public/images/selfie.png'); /* Set your relative path to the background image */
  width: 100px;
  height: 100px;
}
  
/* AboutMe.css */
.about-me-container {
  background-color: var(--olivine);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Center-align text within the container */
}

.about-content {
  display: flex;
  /* Control the gap between left and right content */
  gap: 20px;
  justify-content: center; /* Center the content horizontally */
}

.left-content {
  /* Add styles for the left content (image) */
  flex: 1; /* Takes up 1/2 of the container width */
  /* Use CSS to shape the arch */
  border-radius: 50%;
  overflow: hidden;
  /* Add any other desired styles */
  width: 200px; /* Set a fixed width for the circular image */
  height: 200px; /* Set a fixed height for the circular image */
}

.left-content img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the circular space */
}

.right-content {
  /* Add styles for the right content (paragraph) */
  flex: 1; /* Takes up 1/2 of the container width */
  background-color: #f0f0f0; /* Add background color for the rectangle box */
  padding: 20px; /* Add padding for spacing */
  /* Add any other desired styles */
}

.about-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--Dark);
  margin-top: 10px; /* Add a bit of space above the title */
}

.about-description {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--eggplant);
}

.bottom-bar {
  background-color: var(--Dark);
  color: var(--light);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: auto; /* Push the bar to the bottom of the container */
}

.jack-button {
  background-color: var(--Dark);
  color: var(--light);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

.jack-button:hover {
  background-color: var(--olivine);
}