:root {
  --chineseViolet: #71677D;
  --eggplant: #4A3642;
  --beige: #DADFC5;
  --dimGray: #67675F;
  --olivine: #92B384;
  --light: #e3e4dd;
  --Dark: #292028; 
  --Header: 'Josefin Slab'; /*Georgia, 'Times New Roman', Times, serif;*/
  --text: 'Maven Pro'; /*Arial, Helvetica, sans-serif;*/
}

/* AboutMe.css */
.about-me-container {
  background-color: var(--olivine);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Center-align text within the container */
}

.aboutTitle {
  font-size: 24px;
  font-weight: bold;
  color: var(--Dark);
  margin-top: 10px; /* Add a bit of space above the title */
}

.about-content {
  display: flex;
  /* Control the gap between left and right content */
  gap: 20px;
  justify-content: center; /* Center the content horizontally */
}

.left-content {
  flex: 1;
  border-radius: 50%;
  overflow: hidden;
}

.profile-image {
  background-image: url('../../public/images/selfie.png'); /* Set your relative path to the background image */
  background-size: contain; /* Adjust background size as needed */
  background-position: center; /* Center the image within the container */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  width: 100%;
  height: 100%;
}
  
.right-content {
  /* Add styles for the right content (paragraph) */
  flex: 1; /* Takes up 1/2 of the container width */
  background-color: #f0f0f0; /* Add background color for the rectangle box */
  padding: 20px; /* Add padding for spacing */
  /* Add any other desired styles */
}

.aboutDescription {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--eggplant);
}

.bottom-bar {
  background-color: var(--Dark);
  color: var(--light);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: auto; /* Push the bar to the bottom of the container */
}

.bottom-bar button {
  background-color: var(--Dark);
  color: var(--light);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

.bottom-bar button:hover {
  background-color: var(--olivine);
}