:root {
  --chineseViolet: #71677D;
  --eggplant: #4A3642;
  --beige: #DADFC5;
  --dimGray: #67675F;
  --olivine: #92B384;
  --light: #e3e4dd;
  --Dark: #292028; 
  --Header: 'Josefin Slab'; /*Georgia, 'Times New Roman', Times, serif;*/
  --text: 'Maven Pro'; /*Arial, Helvetica, sans-serif;*/
}
  
/* AboutMe.css */
.about-me-container {
    padding: 20px; /* Add padding as needed */
  }
  
  .aboutTitle {
    font-size: 24px; /* Adjust font size as needed */
  }
  
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .aboutDescription {
    margin-top: 20px; /* Add margin as needed */
    text-align: center;
    font-size: 16px; /* Adjust font size as needed */
  }
  
  .profile-image img {
    max-width: 100%; /* Ensure the image doesn't exceed its container width */
    border-radius: 50%; /* Apply a circular border to the image */
  }

  .bottom-bar {
    background-color: var(--Dark); /* Background color for the bar */
    color: var(--light); /* Text color for the bar */
    padding: 10px; /* Add padding as needed */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .jackButton {
    background-color: var(--Dark); /* Button background color */
    color: var(--light); /* Button text color */
    border: none;
    padding: 10px 20px; /* Button padding */
    cursor: pointer;
  }
  
  .jackButton:hover {
    background-color: var(--olivine); /* Button background color on hover */
  }