:root {
  --chineseViolet: #71677D;
  --eggplant: #4A3642;
  --beige: #DADFC5;
  --dimGray: #67675F;
  --olivine: #92B384;
  --light: #e3e4dd;
  --Dark: #292028; 
  --Header: 'Josefin Slab'; /*Georgia, 'Times New Roman', Times, serif;*/
  --text: 'Maven Pro'; /*Arial, Helvetica, sans-serif;*/
}
  
/* AboutMe.css */
.about-me-container {
  background-color: var(--olivine);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Center-align text within the container */
}
  
.about-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--Dark);
  margin-top: 10px; /* Add a bit of space above the title */
}
  
.about-description {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--eggplant);
}

.profile-image {
  max-width: 50%;
  border-radius: 50%;
  margin-top: 20px;
}

.bottom-bar {
  background-color: var(--Dark);
  color: var(--light);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: auto; /* Push the bar to the bottom of the container */
}

.jack-button {
  background-color: var(--Dark);
  color: var(--light);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

.jack-button:hover {
  background-color: var(--olivine);
}
