:root {
  --chineseViolet: #71677D;
  --eggplant: #4A3642;
  --beige: #DADFC5;
  --dimGray: #67675F;
  --olivine: #92B384;
  --light: #e3e4dd;
  --Dark: #292028; 
  --Header: 'Josefin Slab'; /*Georgia, 'Times New Roman', Times, serif;*/
  --text: 'Maven Pro'; /*Arial, Helvetica, sans-serif;*/
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(transparent, var(--dimGray)); /* Set the background color to beige */
}

.footerTag {
  color: var(--Dark);
  font-family: var(--Header), Georgia, 'Times New Roman', Times, serif;
}

.scroll-to-top-button {
  background-color: var(--chineseViolet); /* Button background color */
  color: var(--beige); /* Button text color */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  font-family: var(--text), Arial, Helvetica, sans-serif;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.scroll-to-top-button:hover {
  background-color: var(--olivine); /* Change background color on hover */
  color: var(--beige); /* Change text color on hover */
}