:root {
  --chineseViolet: #71677D;
  --eggplant: #4A3642;
  --beige: #DADFC5;
  --dimGray: #67675F;
  --olivine: #92B384;
  --light: #e3e4dd;
  --Dark: #292028; 
  --Header: 'Josefin Slab'; /*Georgia, 'Times New Roman', Times, serif;*/
  --text: 'Maven Pro'; /*Arial, Helvetica, sans-serif;*/
}