:root {
  --chineseViolet: #71677D;
  --eggplant: #4A3642;
  --beige: #DADFC5;
  --dimGray: #67675F;
  --olivine: #92B384;
  --light: #e3e4dd;
  --Dark: #292028; 
  --Header: 'Josefin Slab'; /*Georgia, 'Times New Roman', Times, serif;*/
  --text: 'Maven Pro'; /*Arial, Helvetica, sans-serif;*/
}

  /* Header container */
header {
  background: linear-gradient(var(--dimGray), transparent); /* Gradient background */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Add padding for spacing */
}

.logo-container {
  position: relative;
  width: 50px;
  height: 50px;
}

.logo {
  background-image: url('../../public/images/Funk.E_ArtLogo.png');
  background-size: contain;
  width: 50px;
  height: 50px;
  transition: transform 0.5s ease;
  overflow: hidden;
}

.caption {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--eggplant);
  color: var(--beige);
  padding: 5px;
  font-size: 10px;
  text-align: center;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s ease, transform 0.5s ease; /* Adjust transition duration */
  transition-delay: 1s; /* Add a delay of 1 second */
}

/* Add styles for the caption when hovered */
.logo-container.hovered .caption {
  opacity: 1;
  transform: scale(2) translate(25px, 70px);
}

.logo:hover {
  transform: scale(3) translate(20px, 20px); /* Scale, move right, and move down on hover */
}

/* Navigation styles */
.nav.nav-tabs {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px; /* Add spacing between nav items */
}

.nav-item {
  /* Bounce effect on hover */
  transition: transform 0.2s ease-in-out;
}

.nav-item:hover {
  transform: scale(1.05); /* Increase size on hover */
}

.nav-link.active {
  color: var(--olivine);
  background-image: linear-gradient(to bottom, var(--Dark), var(--olivine)); /* Gradient background */
  background-repeat: no-repeat;
  background-size: 100% 35px; /* Adjust the height of the gradient line */
  background-position: 0% 100%; /* Position the gradient at the bottom */
  padding: 5px 10px; /* Add padding around the active link text */
  border-radius: 5px; /* Add rounded corners */
  font-family: var(--text), Arial, Helvetica, sans-serif;
}

/* Other link styles */
.nav-link {
  text-decoration: none;
  color: var(--Dark);
  font-family: var(--Header), Georgia, 'Times New Roman', Times, serif;
}