:root {
  --chineseViolet: #71677D;
  --eggplant: #4A3642;
  --beige: #DADFC5;
  --dimGray: #67675F;
  --olivine: #92B384;
  --light: #e3e4dd;
  --Dark: #292028; 
  --Header: 'Josefin Slab'; /*Georgia, 'Times New Roman', Times, serif;*/
  --text: 'Maven Pro'; /*Arial, Helvetica, sans-serif;*/
}

/* Home.css */
.home-container {
    display: flex;
    height: 100vh; /* 100% viewport height, takes up the whole screen */
    overflow: hidden; /* Prevent background image from overflowing */
  }
  
  .background-image {
    flex: 2;
    background-image: url('/public/images/eyePainting.png'); /* Set your background image */
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    padding-bottom: 10%; /* Adjust this value to maintain the aspect ratio of the image */
  }
  
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--chineseViolet); /* Light purple background color */
  }
  
  h1 {
    font-size: 20px; /* Adjust font size as needed */
    font-family: var(--Header), Georgia, 'Times New Roman', Times, serif;
    color: var(--beige);
  }

  h2 {
    font-size: 36px; /* Adjust font size as needed */
    font-family: var(--Header), Georgia, 'Times New Roman', Times, serif;
    color: var(--beige);
  }
  
  p {
    font-size: 18px; /* Adjust font size as needed */
    font-family: var(--text), Arial, Helvetica, sans-serif;
    color: var(--beige);
  }