/* create custom CSS variables (also called custom properties) and apply 
them to the root of the page, making them accessible to all other CSS...
declare a variable with `--` syntax*/
:root {
    --chineseViolet: #71677D;
    --eggplant: #4A3642;
    --beige: #DADFC5;
    --dimGray: #67675F;
    --olivine: #92B384;
    --light: #e3e4dd;
    --Dark: #292028; 
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }